# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/$CACHE_FILE$
.idea/.gitignore
.idea/codeStyles/
.idea/compiler.xml
.idea/misc.xml
.idea/sbt.xml
.idea/uiDesigner.xml
.idea/vcs.xml

